
footer {
	background-color: $background-blanco;
	font-family: $tipografia;
	font-weight: lighter;
	padding: 10px 10px 10px 10px;
	ul{
		padding: 0.5em 0px;
		margin-bottom: 0px;
		@include flex (center, wrap, space-evenly, row)
	}
}
.icono {
	transition: all 0.5s;
	&:hover {
		transform: scale(1.5);
	}
}