.fraseFoddies{
    background-image: linear-gradient(rgba(5, 7, 12, 0.377), rgba(5, 7, 12, 0.37)), url(../img/veggies.jpg);
    height: 85vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        padding: 2em 1em;
    }
    h3{
        color:white;
        font-size: 1.3em;
        text-align: center;
        padding: 0px 1em 2em 1em;
    }
}

.consejosIndex{
    padding: 2em 0px 2em;
    .index{
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h4{
            font-weight: bold;
            color: #252525;
            padding-top: 0.5em;
        }
    }
}

.opiniones{
    background-color: $background-blanco;
    margin-bottom: 0.1em;
    box-shadow: 0px -3px 14px -4px rgba(0,0,0,0.48);
    h4{
        color: $verde;
        font-weight: bold;
        text-align: center;
        padding: 1em 1em 0px;
    }
    .cardIndex {
        height: 250px;
        background-color: $background-blanco;
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border-style:solid;
            border-width: 1px;
            border-color:$verde;
            background-position: center;
            background-size: contain;
        }
    }
    .card-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5em 1rem 0px;
        .text-body {
            width: 200px;
            font-size: 0.9em;
            text-align: center;
            color: #5f5f5f;
            font-style: italic;
        }
        .text-title {
            text-transform: uppercase;
            font-size: 1.3em;
            color: $verde;
            letter-spacing: 0.05rem;
            margin-bottom: 0.5em;
            font-weight: 500;
        }
    }
}

.uno{
    background-image: url(../img/personUno.webp);
}
.dos{
    background-image: url(../img/personaDos.webp);
}
.tres{
    background-image: url(../img/personaTres.webp);
}


