@media (min-width:550px) {
//general//
    .todasReceta {
		font-size: 30px;
	}
	.contenedor {
		margin-left: 0px;
		margin-right: 0px;
	}
//index//
    .fraseFoddies{
        padding: 3em;
    }
    .consejosIndex{
        .index{
            margin: 4em;
        }
    }
    .opiniones{
        h4{
            font-size: 27px;
            padding-top: 1em;
        }
        .card-info{
            .text-body{
                font-size: 1em;
                padding-bottom: 1.5em;
            }
        }
    }
//almuerzo//
    .mainAlmuerzo{
        h1{
            font-size: 60px;
        }
    }
	.padreCard {
		h2 {
			font-size: 25px;
			margin-top: 2em;
		}
        .card {
		    height: 400px;
	    }
    }
	.gridAlmuerzo {
		margin-top: 0px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: "pollo caprese" "espinaca ensalada" "wraps soufle" "arrollado huevo" "brochetas brochetas";
		img {
			width: 220px;
			height: 157px;
		}
	}
//cena//
    .mainCena{
        h1{
            font-size: 60px;
        }
    }
	.principalCena {
		display: flex;
		flex-direction: column;
		align-items: center;
        .textoCena{
            font-size: 34px;
        }
        img{
            width: 350px;
            height: 350px;
        }
        .textoPizza{
            h3{
                font-size: 31px;
            }
            h4{
                font-size: 25px;
                padding-bottom: 0.5em;
            }
            ol{
                font-size: 21px;
                padding-bottom: 2.5em;
            }
        }
	}
    .gridCena {
		display: grid;
		margin-top: 0px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		justify-items: center;
		grid-template-areas: 
        "fideos milanesa" 
        "horno papas" 
        "calabaza pasta" 
        "empanada tacos"
        "noquis noquis";
		img {
			width: 220px;
			height: 157px;
		}
        h3{
            text-align: center;
        }
	}
//postres//
    .mainPostre{
        h1{
            font-size: 60px;
        }
    }
    .receta{
        height: 80vh;
        img{
            width: 200px;
            height: 200px;
        }
        h3{
            font-size: 30px;
        }
        h4{
            font-size: 23px;
            margin-top: 0.5em;
            padding-bottom: 0.1em;
        }
        ol{
            font-size: 19px;
        }
    }
    .contenedorCarousel{
        img{
            width: 370px;
            height: 250px;
        }
        h3{
            width: 370px;
        }
    }

//footer//
	.fraseFooter {
        font-size: 35px;
		margin-top: 0.4em;
	}
}

@media (min-width:770px) {
//general//
	.todasReceta {
		font-size: 35px;
	}
	.tituloRecetas {
		font-size: 45px;
	}
//index//
    .fraseFoddies{
        padding: 4em;
        h2{
            font-size: 2.7em;
        }
        h3{
            font-size: 1.5em;
        }
    }
    .consejosIndex{
        margin: 4em 0px 4em;
        p{
            font-size: 18px;
        }
        .izq{
            margin: 0em 25em 0em 7em;
        }
        .der{
            margin: 0em 7em 0em 25em;;
        }
    }
    .opiniones{
        h4{
            font-size: 30px;
        }
        .carousel{
            height: 350px;
        }
        .cardIndex{
            margin-top: 1.5em;
        }
    }
//almuerzo//
    .mainAlmuerzo{
        h1{
            font-size: 70px;
        }
    }
    .padreCard {
		h2 {
			font-size: 30px;
		}
        p{
            width: 85%;
            font-size: 25px;
        }
        .card{
            width: 85%;
        }
	}
	.gridAlmuerzo {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
		grid-template-areas: 
        "pollo caprese espinaca"
        "ensalada wraps soufle"
        "arrollado huevo brochetas";
	}
//cena//
    .mainCena{
        h1{
            font-size: 70px;
        }
    }
    .textoCena{
        grid-area: titulo;
    }
    img{
        grid-area: imagen;
    }
    .textoPizza{
        grid-area: pizza;
    }
    .principalCena{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 1fr;
        grid-template-areas: 
        "titulo titulo"
        "imagen pizza";
        justify-items: center;
        .textoCena{
            font-size: 38px;
        }
        img{
            width: 400px;
            height: 400px;
            margin: 1em 0em 3em 2em;
        }
    }
	.gridCena {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		justify-items: center;
		margin-right: 1em;
        margin-left: 1em;
		grid-template-areas: 
        "fideos milanesa horno"
        "papas calabaza  pasta"
        "empanada tacos noquis";
	}
//postres//
    .mainPostre{
        h1{
            font-size: 70px;
        }
    }
	.receta {
        padding: 1.5em;
        img{
            width: 300px;
            height: 300px;
            margin: 2em;
        }
        h3{
            font-size: 35px;
        }
    }
    img{
        grid-area: imagen;
    }
    .texto{
        grid-area: texto;
    }
    .dificultad{
        grid-area: dificultad;
    }
    .unoPostre{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 100px;
        grid-template-areas: 
        "imagen texto"
        ". dificultad";
        justify-items: center;
        align-content: center;
    }
    .dosPostre{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 100px;
        grid-template-areas: 
        "texto imagen"
        "dificultad .";
        justify-items: center;
        align-content: center;
    }
    .contenedorCarousel {
        img {
            width: 570px;
            height: 400px;
        }
        h3 {
            width: 570px;
            margin-bottom: 2em;
        }
    }

//footer//
	.fraseFooter {
		font-size: 35px;
	}
}

@media (min-width:1070px) {
//general//
    .navbar-brand{
        margin-left: 0.6em;
    }
	.tituloRecetas {
		font-size: 45px;
	}
	.todasReceta {
		font-size: 40px;
	}
	.contenedor {
		img {
			width: 330px;
			height: 237px;
		}
	}
//index//
    .fraseFoddies{
        h2{
            font-size: 3.4em;
            padding: 2em 2em;
        }
        h3{
            font-size: 1.8em;
        }
    }
    .consejosIndex{
        .index{
            img{
                height: 80px;
                width: 80px;
            }
            h4{
                font-size: 30px;
            }
            p{
                font-size: 22px;
            }
        }
        .izq{
            margin: 2em 30em 2em 7em;
        }
        .der{
            margin: 2em 7em 2em 30em;
        }
    }
    .opiniones{
        h4{
            font-size: 33px;
            padding-top: 1.5em;
        }
        .carousel{
            height: 400px;
            .carousel-inner{
                height: 350px;
            }
        }
        .cardIndex{
            .card-img{
                width: 90px;
                height: 90px;
            }
        }
        .card-info{
            padding-top: 6em;
            .text-title{
                font-size: 1.5em;
            }
            .text-body{
                font-size: 1.2em;
            }
        }
    }
//almuerzo//
    .mainAlmuerzo{
        h1{
            font-size: 90px;
        }
    }
    .padreCard {
        h2 {
            font-size: 38px;
        }
        p{
            font-size: 30px;
        }
        .card {
            height: 600px;
            margin-bottom: 4em;
        }
    }
    .gridAlmuerzo {
		margin-bottom: 3em;
	}
//cena//
    .mainCena{
        h1{
            font-size: 90px;
        }
    }
    .principalCena{
        grid-template-rows: 200px 1fr 1fr;
        grid-template-areas:
        "titulo titulo"
        "imagen pizza"
        "completa completa";
        .textoCena{
            font-size: 46px;
            padding: 2em opx;
        }
        img{
            margin: 0px 0px 0px 4em;
        }
        .textoPizza{
            padding-right: 1em;
            h3 {
                font-size: 35px;
            }
            h4 {
                font-size: 28px;
            }
            ol {
                font-size: 24px;
            }
        }
        .recetaCompleta{
            grid-area: completa;
            display: block;
            width: 80%;
            p{
                color: $blanco;
                font-size: 20px;
                text-align: justify;
            }
            .dificultad{
                display: flex;
                flex-direction: row;
                justify-content: center;
                p{
                    text-transform: uppercase;
                    letter-spacing: 0.0005rem;
                    font-weight: 200;
                    color: rgb(173, 173, 173);
                    padding: 1em;
                }
            }
        }
    }
//postre//
    .mainPostre{
        h1{
            font-size: 90px;
        }
    }
    .receta{
        img{
            margin-top: 100px;
            width: 400px;
            height: 400px;
        }
        h3{
            font-size: 45px;
        }
        h4{
            font-size: 29px;
        }
        ol{
            font-size: 22px;
        }
        .dificultad{
            font-size: 19px;
        }
    }
    .unoPostre{
        padding-right: 4em;
    }
    .dosPostre{
        padding-left: 4em;
    }
    .contenedorCarousel{
        h3{
            font-size: 30px;
        }
    }
//usuario//
    .formularioRegistro{
        height: 90%;
	    .form-box {
	        width: 60%;
        }
    }
}
