.recetaPostre {
		margin-top: 3em;
}
.receta{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        color: $verde;
        font-weight: bold;
        font-size: 25px;
        padding-top: 0.5em;
    }
    h4{
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 1em;
    }
    img{
        border-radius: 50%;
        height: 170px;
        width: 170px;
    }
    .dificultad{
        display: flex;
        flex-direction: row;
        p{
            text-transform: uppercase;
            letter-spacing: 0.0005rem;
            padding: 0.5em 0.7em;
            color: rgb(82, 82, 82);
            font-weight: 200;
        }
    }
}
.unoPostre{
    background-color: $background-blanco;
}
.dosPostre{
    background-color: #497c49;
    h3{
        color: $amarillo;
    }
    h4{
        color: $blanco;
    }
    ol{
        color: $blanco;
    }
    .dificultad{
        p{
            color: rgb(201, 201, 201);
        }
    }
}
.contenedorCarousel {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 3em;
    img {
	    width: 300px;
	    height: 180px;
    }
    h3 {
	    background-color: $background-blanco;
	    width: 300px;
        text-align: center;
        font-weight: bold;
    }
}

