$tipografia:  'Montserrat', sans-serif;
$verde: #006600;
$blanco: white;
$amarillo: #e8b601;
$negro: #010101;
$gris: #666;
$background-verde: #006600;
$background-blanco: white;
$background-amarillo: #e8b601;