@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* MOBILE FRIST 340px*/
body{
    background: rgb(222,208,194);
    background: linear-gradient(50deg, rgba(222,208,194,1) 0%, rgba(235,231,164,1) 38%, rgba(210,246,191,1) 100%);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden

}

.navbar-brand{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #006600;
}

.btn-outline-success{
    color: #006600;
    border: #006600 0.1em solid;
}
.btn-outline-success:hover{
    background-color: #006600;
    color: white;
}

header nav img{
    margin: 0.5em;
}

.container-fluid a:hover{
    transition: 0.4s;
    color: #e8b601;
}

main{
    margin-top:1em;
    margin-bottom: 1em;
    background: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

main img{
    width: 100%;
}

h1{
    font-weight: bold;
    font-size: 2.7em;
    text-align: center;
    color: #006600;
}

.todasReceta{
    margin-top: 3em;
    color: #006600;
    font-weight: bold;
    text-align: center;
}

.tituloRecetas{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #006600;
    margin-top: 40px;
    grid-area: titulo;
}

.contenedor{
    margin: 1em;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
}
.padreCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.card{
    width: 95%;
    height: 250px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
.shadow{
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3)
}
.padreCard div{
    align-items: center;
    justify-content: center;
}
iframe{
    border-radius: 0.5em;
}
.padreCard h2{
    width: 90%;
    margin-top: 2em;
    margin-bottom: 1em;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: #666 3px 1px 5px;
}

.prin{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    border-radius: 0.3em;
    grid-area: principal;
}
.prin img{
    padding: 0.7em;
    border-radius: 1em
}
.prin:hover {
    border:#006600 0.2em solid;
}

.seg{
    grid-area: secundaria;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    border-radius: 0.3em;
}
.seg img{
    padding: 0.7em;
    border-radius: 1em
}
.seg:hover {
    border:#006600 0.2em solid;
}

.ter{
    grid-area: terciaria;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    border-radius: 0.3em;
}
.ter img{
    padding: 0.7em;
    border-radius: 1em
}
.ter:hover {
    border:#006600 0.2em solid;
}

.cuarta{
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cuarta img{
    padding: 0.7em;
    border-radius: 1em;
}
.cuarta:hover{
    border:#006600 0.2em solid;
}
.principalCena{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal{
    width: fit-content;
    border: rgb(250, 250, 250) 0.2em solid;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal img{
    padding: 0.7em;
    border-radius: 1em;
}

.gridIndex{
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 0.4em;
    margin-bottom: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr;
    grid-template-areas:
    "titulo"
    "principal"
    "secundaria"
    "terciaria"
}

.pollo{
    grid-area: pollo;
}
.espinaca{
    grid-area: espinaca;
}
.caprese{
    grid-area: caprese;
}
.ensalada{
    grid-area: ensalada;
}
.wraps{
    grid-area: wraps;
}
.souffle{
    grid-area: soufle;
}
.arrollado{
    grid-area: arrollado;
}
.huevo{
    grid-area: huevo;
}
.brochetas{
    grid-area: brochetas;
}

div h3{
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}
.gridAlmuerzo{
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 0.4em;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "pollo"
    "caprese"
    "espinaca"
    "ensalada"
    "wraps"
    "soufle"
    "arrollado"
    "huevo"
    "brochetas";
}

.recetaPostre h2{
    color: #006600;
    text-align: center;
    font-weight: bold;
    margin-top: 2em;
}
.contenedorCarousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}
.contenedorCarousel img{
    width: 300px;
    height: 180px;
}
.contenedorCarousel h3{
    background-color: white;
    width: 300px;
}
.fideos{
    grid-area: fideos;
}
.milanesa{
    grid-area: milanesa;
}
.polloHorno{
    grid-area: horno;
}
.papas{
    grid-area: papas;
}
.calabaza{
    grid-area: calabaza;
}
.pasta{
    grid-area: pasta;
}
.empanadas{
    grid-area: empanada;
}
.tacos{
    grid-area: tacos;
}
.gridCena{
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 0.4em;
    margin-top: 1em;
    margin-bottom: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "fideos"
    "milanesa"
    "horno"
    "papas"
    "calabaza"
    "pasta"
    "empanada"
    "tacos";
}

.reemplazos{
    margin-bottom: 3em;
}
.sustitutoL{
    background-color: white;
    margin-right: 4em;
    text-align: left;
    border-top-right-radius:10em;
    border-bottom-right-radius: 10em;
}
.sustitutoR{
    background-color: white;
    margin-left: 4em;
    text-align: right;
    border-top-left-radius:10em;
    border-bottom-left-radius: 10em;
}
.sustitutoL p{
    padding: 1em 1em;
}
.sustitutoR p{
    padding: 1em 1em;
}
.fraseTips{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
}
.fraseTips p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    text-shadow: #666 3px 1px 5px;
}

section h4{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

ol li{
    list-style-type:disc;
}

ul li{
    list-style-type: none;
}

.formularioRegistro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.form-box{
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 80%;
    background: #ffffff;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    margin-top: 4%;
    margin-bottom: 4%;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

.title{
    font-weight: bold;
    font-size: 1.6rem;
    color: #006600;
}

.subtitle{
    font-size: 1rem;
    color: #666;
}

.form-container{
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.input{
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 85%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section{
    padding: 16px;
    font-size: .85rem;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a{
    font-weight: bold;
    color: #006600;
    transition: color .3s ease;
    text-decoration: none;
}

.form-section a:hover {
    color:#e8b601;
    text-decoration: none;
}

.form-section p{
    text-align: center;
}

.form button{
    background-color: #006600;
    color: #fff;
    border: 0;
    border-radius: 24px;
    width: 80%;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #e8b601;
}

.crearCuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.irArriba a:visited{
    list-style: none;
    color: #006600;
}

footer{
    background-color:rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    padding: 40px 10px 10px 10px;
}
.fraseFooter{
    text-align: center;
    font-weight: bold;
    color: #006600;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.irArriba{
    text-align: center;
    text-decoration: none;
    color:#006600;
}
.irArriba a:hover{
    transition: 0.4s;
    color: #e8b601;
}

.icono{
    transition: all 0.5s;
}

.icono:hover{
    transform: scale(1.5);
}

@media (min-width:550px){
    .gridIndex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px 1fr 1fr;
        justify-items: center;
        grid-template-areas:
        "titulo titulo"
        "principal principal"
        "secundaria terciaria";
    }
    .tituloRecetas{
        width: 100%;
        margin-top: 70px;
        font-size: 40px;
    }
    .prin{
        display: flex;
        flex-direction: row;
        width: 86%;
        justify-content: space-evenly;
    }
    .prin div{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .prin img{
        width: 300px;
        height: 220px;
    }
    .prin div{
        margin-right: 0.5em;
    }
    .todasReceta{
        font-size: 30px;
    }
    .seg img{
        width: 220px;
        height: 157px;
    }
    .ter img{
        width: 220px;
        height: 157px;
    }
    .contenedor{
        margin-left: 0px;
        margin-right: 0px;
    }
    h1{
        font-size: 60px;
    }
    .card{
        height: 400px;
    }
    .padreCard h2{
        font-size: 25px;
        margin-top: 2em;
    }
    .gridAlmuerzo{
        margin-top: 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "pollo caprese"
        "espinaca ensalada"
        "wraps soufle"
        "arrollado huevo"
        "brochetas brochetas";
    }
    .gridAlmuerzo img{
        width: 220px;
        height: 157px;
    }
    .principalCena{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recetaPostre h2{
        font-size: 30px;
        margin-bottom: 0.5em;
    }
    .contenedorCarousel img{
        width: 480px;
        height: 350px;
    }
    .contenedorCarousel h3{
        width: 480px;
        font-size: 25px;
    }
    .contenedorCarousel{
        margin-bottom: 5em;
    }
    .fraseTips p{
        font-size: 25px;
    }
    .sustitutoL{
        margin-right: 6em;
    }
    .sustitutoR{
        margin-left: 6em;
    }
    .sustitutoL p{
        font-size: 20px;
    }
    .sustitutoR p{
        font-size: 20px;
    }
    .gridCena{
        display: grid;
        margin-top: 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        grid-template-areas:
        "fideos milanesa"
        "horno papas"
        "calabaza pasta"
        "empanada tacos";
    }
    .gridCena img{
        width: 220px;
        height: 157px;
    }
    .fraseFooter{
        margin-top: 0.4em;
    }
    
}

@media (min-width:770px){
    h1{
        font-size: 70px
    }
    .card{
        height: 500px;
    }
    .padreCard h2{
        font-size: 30px;
    }
    .prin{
        width: 87%;
        height: 350px;
        margin-top: 2em;
    }
    .prin img{
        width: 400px;
        height: 300px;
    }
    .seg{
        width: 75%;
        margin-top: 0px;
    }
    .seg img{
        width: 280px;
        height: 200px;
    }
    .ter{
        width: 75%;
        margin-top: 0px;
    }
    .ter img{
        width: 280px;
        height: 200px;
    }
    .todasReceta{
        font-size: 35px;
    }
    .tituloRecetas{
        font-size: 45px;
    }
    .gridIndex {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 110px 1fr 1fr;
        grid-template-areas:
        "titulo titulo"
        "principal principal"
        "secundaria terciaria";
    }
    .gridAlmuerzo{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-template-areas:
        "pollo caprese espinaca"
        "ensalada wraps soufle"
        "arrollado huevo brochetas";
    }
    .principal{
        display: flex;
        flex-direction: row;
    }
    .textoNoquis{
        display: flex;
        flex-direction: column;
        padding-right: 1em;
    }
    .principal img{
        width: 400px;
        height: 300px;
    }
    .gridCena{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        margin-right: 1em;
        grid-template-areas:
        "fideos milanesa horno" 
        "papas calabaza  pasta"
        "empanada tacos noquis"
    }
    .recetaPostre h2{
        font-size: 35px;
    }
    .contenedorCarousel img{
        width: 570px;
        height: 400px;
    }
    .contenedorCarousel h3{
        width: 570px;
    }
    .sustitutoL{
        margin-right: 8em;
    }
    .sustitutoR{
        margin-left: 8em;
    }
    .fraseTips{
        font-size: 30px;
    }
    .sustitutoL p{
        font-size: 23px;
    }
    .sustitutoR p{
        font-size: 23px;
    }
    .fraseFooter{
        font-size: 35px;
    }
}

@media (min-width:1070px) {
    h1{
        font-size: 90px;
    }
    .tituloRecetas{
        font-size: 45px;
    }
    .todasReceta{
        font-size: 40px;
    }
    .contenedor img{
        width: 330px;
        height: 237px;
    }
    .prin img{
        width: 480px;
        height: 307px;
    }
    .form-box{
        width: 50%;
    }
    .card{
        height: 600px;
    }
    .padreCard h2{
        font-size: 38px;
    }
    .gridAlmuerzo{
        margin-bottom: 3em;
    }
    .sustitutoL{
        margin-right: 20em;
        margin-bottom: 3em;
    }
    .sustitutoR{
        margin-left: 20em;
        margin-bottom: 3em;
    }
    .principal img{
        width: 600px;
        height: 400px;
    }
    .textoNoquis{
        padding-right: 1em;
    }
    .textoNoquis h3{
        font-size: 30px;
    }
    .textoNoquis h4{
        font-size: 20px;
    }
    .textoNoquis ol{
        font-size: 20px;
    }
}