@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(222, 208, 194);
  background: linear-gradient(50deg, rgb(222, 208, 194) 0%, rgb(235, 231, 164) 38%, rgb(210, 246, 191) 100%);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
body main {
  margin-top: 1em;
  margin-bottom: 3em;
  background: #f8f9fa;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
body main h1 {
  font-weight: bold;
  font-size: 2.7em;
  text-align: center;
  color: #006600;
}
body main img {
  width: 100%;
}
body .contenedor {
  margin: 1em;
  background: rgb(255, 255, 255);
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em 0.7em rgba(0, 0, 0, 0.0823529412);
}
body .todasReceta {
  margin: 3em 1.5em 1em;
  color: #006600;
  font-weight: bold;
  text-align: center;
}

ol li {
  list-style-type: disc;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
ul li {
  list-style-type: none;
}

header nav .navbar-brand {
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  margin-right: 0px;
  color: #006600;
}
header nav .navbar-brand img {
  margin: 0.5em;
}
header nav .navbar-toggler {
  border: none;
}
header nav .btn-outline-success {
  color: #006600;
  border: #006600 0.1em solid;
}
header nav .btn-outline-success:hover {
  background-color: #006600;
  color: white;
}
header nav .container-fluid a:hover {
  transition: 0.4s;
  color: #e8b601;
}

footer {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  padding: 10px 10px 10px 10px;
}
footer ul {
  padding: 0.5em 0px;
  margin-bottom: 0px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.icono {
  transition: all 0.5s;
}
.icono:hover {
  transform: scale(1.5);
}

.fraseFoddies {
  background-image: linear-gradient(rgba(5, 7, 12, 0.377), rgba(5, 7, 12, 0.37)), url(../img/veggies.webp);
  height: 85vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fraseFoddies h2 {
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 2em 1em;
}
.fraseFoddies h3 {
  color: white;
  font-size: 1.3em;
  text-align: center;
  padding: 0px 1em 2em 1em;
}

.consejosIndex {
  padding: 2em 0px 2em;
}
.consejosIndex .index {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.consejosIndex .index h4 {
  font-weight: bold;
  color: #252525;
  padding-top: 0.5em;
}

.opiniones {
  background-color: white;
  margin-bottom: 0.1em;
  box-shadow: 0px -3px 14px -4px rgba(0, 0, 0, 0.48);
}
.opiniones h4 {
  color: #006600;
  font-weight: bold;
  text-align: center;
  padding: 1em 1em 0px;
}
.opiniones .cardIndex {
  height: 250px;
  background-color: white;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opiniones .cardIndex .card-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #006600;
  background-position: center;
  background-size: contain;
}
.opiniones .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 1rem 0px;
}
.opiniones .card-info .text-body {
  width: 200px;
  font-size: 0.9em;
  text-align: center;
  color: #5f5f5f;
  font-style: italic;
}
.opiniones .card-info .text-title {
  text-transform: uppercase;
  font-size: 1.3em;
  color: #006600;
  letter-spacing: 0.05rem;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.uno {
  background-image: url(../img/personUno.png);
}

.dos {
  background-image: url(../img/personaDos.png);
}

.tres {
  background-image: url(../img/personaTres.png);
}

.padreCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.padreCard div {
  align-items: center;
  justify-content: center;
}
.padreCard p {
  width: 90%;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #006600;
  font-size: 20px;
}

.card {
  width: 95%;
  height: 250px;
  background: white;
  border-radius: 10px;
  margin-bottom: 3em;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

iframe {
  border-radius: 0.5em;
}

.pollo {
  grid-area: pollo;
}

.espinaca {
  grid-area: espinaca;
}

.caprese {
  grid-area: caprese;
}

.ensalada {
  grid-area: ensalada;
}

.wraps {
  grid-area: wraps;
}

.souffle {
  grid-area: soufle;
}

.arrollado {
  grid-area: arrollado;
}

.huevo {
  grid-area: huevo;
}

.brochetas {
  grid-area: brochetas;
}

.gridAlmuerzo {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 0.4em;
  margin-bottom: 1.5em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "pollo" "caprese" "espinaca" "ensalada" "wraps" "soufle" "arrollado" "huevo" "brochetas";
}
.gridAlmuerzo .cuarta {
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gridAlmuerzo .cuarta img {
  padding: 0.7em;
  border-radius: 1em;
}
.gridAlmuerzo .cuarta:hover {
  border: #006600 0.2em solid;
}
.gridAlmuerzo .cuarta h3 {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.principalCena {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #497c49;
}
.principalCena .textoCena {
  margin-top: 2em;
  color: #e8b601;
  font-weight: bold;
  text-align: center;
  padding: 0em 1em 1em;
  font-size: 29px;
}
.principalCena img {
  border-radius: 50%;
  padding-bottom: 1em;
}
.principalCena .textoPizza {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principalCena .textoPizza h3 {
  font-weight: bold;
  color: white;
  font-size: 27px;
  padding-bottom: 1em;
}
.principalCena .textoPizza h4 {
  font-weight: 500;
  color: white;
}
.principalCena .textoPizza ol {
  color: white;
  font-size: 18px;
  padding-bottom: 2em;
}
.principalCena .recetaCompleta {
  display: none;
}

.fideos {
  grid-area: fideos;
}

.milanesa {
  grid-area: milanesa;
}

.polloHorno {
  grid-area: horno;
}

.papas {
  grid-area: papas;
}

.calabaza {
  grid-area: calabaza;
}

.pasta {
  grid-area: pasta;
}

.empanadas {
  grid-area: empanada;
}

.tacos {
  grid-area: tacos;
}

.noquis {
  grid-area: noquis;
}

.gridCena {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 0.4em;
  margin-top: 1em;
  margin-bottom: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "fideos" "milanesa" "horno" "papas" "calabaza" "pasta" "empanada" "tacos" "noquis";
}
.gridCena .cuarta {
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gridCena .cuarta img {
  padding: 0.7em;
  border-radius: 1em;
}
.gridCena .cuarta:hover {
  border: #006600 0.2em solid;
}
.gridCena .cuarta h3 {
  font-weight: bold;
}

.recetaPostre {
  margin-top: 3em;
}

.receta {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.receta h3 {
  color: #006600;
  font-weight: bold;
  font-size: 25px;
  padding-top: 0.5em;
}
.receta h4 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 1em;
}
.receta img {
  border-radius: 50%;
  height: 170px;
  width: 170px;
}
.receta .dificultad {
  display: flex;
  flex-direction: row;
}
.receta .dificultad p {
  text-transform: uppercase;
  letter-spacing: 0.0005rem;
  padding: 0.5em 0.7em;
  color: rgb(82, 82, 82);
  font-weight: 200;
}

.unoPostre {
  background-color: white;
}

.dosPostre {
  background-color: #497c49;
}
.dosPostre h3 {
  color: #e8b601;
}
.dosPostre h4 {
  color: white;
}
.dosPostre ol {
  color: white;
}
.dosPostre .dificultad p {
  color: rgb(201, 201, 201);
}

.contenedorCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}
.contenedorCarousel img {
  width: 300px;
  height: 180px;
}
.contenedorCarousel h3 {
  background-color: white;
  width: 300px;
  text-align: center;
  font-weight: bold;
}

.formularioRegistro {
  height: 74vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.form-box {
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 80%;
  background: #ffffff;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
  margin-top: 4%;
  margin-bottom: 4%;
}
.form-box .form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}
.form-box .form .title {
  font-weight: bold;
  font-size: 1.6rem;
  color: #006600;
}
.form-box .form .subtitle {
  font-size: 1rem;
  color: #666;
}
.form-box .form .form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: white;
  margin: 1rem 0 0.5rem;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.form-box .form .form-container .input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 85%;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  padding: 8px 15px;
}
.form-box .form button {
  background-color: #006600;
  color: white;
  border: 0;
  border-radius: 24px;
  width: 80%;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-box .form button:hover {
  background-color: #e8b601;
}
.form-box .form .crearCuenta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-box .form-section {
  padding: 16px;
  font-size: 0.85rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0 -1px;
}
.form-box .form-section a {
  font-weight: bold;
  color: #006600;
  transition: color 0.3s ease;
  text-decoration: none;
}
.form-box .form-section a:hover {
  color: #e8b601;
  text-decoration: none;
}
.form-box .form-section p {
  text-align: center;
}

@media (min-width: 550px) {
  .todasReceta {
    font-size: 30px;
  }
  .contenedor {
    margin-left: 0px;
    margin-right: 0px;
  }
  .fraseFoddies {
    padding: 3em;
  }
  .consejosIndex .index {
    margin: 4em;
  }
  .opiniones h4 {
    font-size: 27px;
    padding-top: 1em;
  }
  .opiniones .card-info .text-body {
    font-size: 1em;
    padding-bottom: 1.5em;
  }
  .mainAlmuerzo h1 {
    font-size: 60px;
  }
  .padreCard h2 {
    font-size: 25px;
    margin-top: 2em;
  }
  .padreCard .card {
    height: 400px;
  }
  .gridAlmuerzo {
    margin-top: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "pollo caprese" "espinaca ensalada" "wraps soufle" "arrollado huevo" "brochetas brochetas";
  }
  .gridAlmuerzo img {
    width: 220px;
    height: 157px;
  }
  .mainCena h1 {
    font-size: 60px;
  }
  .principalCena {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .principalCena .textoCena {
    font-size: 34px;
  }
  .principalCena img {
    width: 350px;
    height: 350px;
  }
  .principalCena .textoPizza h3 {
    font-size: 31px;
  }
  .principalCena .textoPizza h4 {
    font-size: 25px;
    padding-bottom: 0.5em;
  }
  .principalCena .textoPizza ol {
    font-size: 21px;
    padding-bottom: 2.5em;
  }
  .gridCena {
    display: grid;
    margin-top: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-template-areas: "fideos milanesa" "horno papas" "calabaza pasta" "empanada tacos" "noquis noquis";
  }
  .gridCena img {
    width: 220px;
    height: 157px;
  }
  .gridCena h3 {
    text-align: center;
  }
  .mainPostre h1 {
    font-size: 60px;
  }
  .receta {
    height: 80vh;
  }
  .receta img {
    width: 200px;
    height: 200px;
  }
  .receta h3 {
    font-size: 30px;
  }
  .receta h4 {
    font-size: 23px;
    margin-top: 0.5em;
    padding-bottom: 0.1em;
  }
  .receta ol {
    font-size: 19px;
  }
  .contenedorCarousel img {
    width: 370px;
    height: 250px;
  }
  .contenedorCarousel h3 {
    width: 370px;
  }
  .fraseFooter {
    font-size: 35px;
    margin-top: 0.4em;
  }
}
@media (min-width: 770px) {
  .todasReceta {
    font-size: 35px;
  }
  .tituloRecetas {
    font-size: 45px;
  }
  .fraseFoddies {
    padding: 4em;
  }
  .fraseFoddies h2 {
    font-size: 2.7em;
  }
  .fraseFoddies h3 {
    font-size: 1.5em;
  }
  .consejosIndex {
    margin: 4em 0px 4em;
  }
  .consejosIndex p {
    font-size: 18px;
  }
  .consejosIndex .izq {
    margin: 0em 25em 0em 7em;
  }
  .consejosIndex .der {
    margin: 0em 7em 0em 25em;
  }
  .opiniones h4 {
    font-size: 30px;
  }
  .opiniones .carousel {
    height: 350px;
  }
  .opiniones .cardIndex {
    margin-top: 1.5em;
  }
  .mainAlmuerzo h1 {
    font-size: 70px;
  }
  .padreCard h2 {
    font-size: 30px;
  }
  .padreCard p {
    width: 85%;
    font-size: 25px;
  }
  .padreCard .card {
    width: 85%;
  }
  .gridAlmuerzo {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-template-areas: "pollo caprese espinaca" "ensalada wraps soufle" "arrollado huevo brochetas";
  }
  .mainCena h1 {
    font-size: 70px;
  }
  .textoCena {
    grid-area: titulo;
  }
  img {
    grid-area: imagen;
  }
  .textoPizza {
    grid-area: pizza;
  }
  .principalCena {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: "titulo titulo" "imagen pizza";
    justify-items: center;
  }
  .principalCena .textoCena {
    font-size: 38px;
  }
  .principalCena img {
    width: 400px;
    height: 400px;
    margin: 1em 0em 3em 2em;
  }
  .gridCena {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    margin-right: 1em;
    margin-left: 1em;
    grid-template-areas: "fideos milanesa horno" "papas calabaza  pasta" "empanada tacos noquis";
  }
  .mainPostre h1 {
    font-size: 70px;
  }
  .receta {
    padding: 1.5em;
  }
  .receta img {
    width: 300px;
    height: 300px;
    margin: 2em;
  }
  .receta h3 {
    font-size: 35px;
  }
  img {
    grid-area: imagen;
  }
  .texto {
    grid-area: texto;
  }
  .dificultad {
    grid-area: dificultad;
  }
  .unoPostre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 100px;
    grid-template-areas: "imagen texto" ". dificultad";
    justify-items: center;
    align-content: center;
  }
  .dosPostre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 100px;
    grid-template-areas: "texto imagen" "dificultad .";
    justify-items: center;
    align-content: center;
  }
  .contenedorCarousel img {
    width: 570px;
    height: 400px;
  }
  .contenedorCarousel h3 {
    width: 570px;
    margin-bottom: 2em;
  }
  .fraseFooter {
    font-size: 35px;
  }
}
@media (min-width: 1070px) {
  .navbar-brand {
    margin-left: 0.6em;
  }
  .tituloRecetas {
    font-size: 45px;
  }
  .todasReceta {
    font-size: 40px;
  }
  .contenedor img {
    width: 330px;
    height: 237px;
  }
  .fraseFoddies h2 {
    font-size: 3.4em;
    padding: 2em 2em;
  }
  .fraseFoddies h3 {
    font-size: 1.8em;
  }
  .consejosIndex .index img {
    height: 80px;
    width: 80px;
  }
  .consejosIndex .index h4 {
    font-size: 30px;
  }
  .consejosIndex .index p {
    font-size: 22px;
  }
  .consejosIndex .izq {
    margin: 2em 30em 2em 7em;
  }
  .consejosIndex .der {
    margin: 2em 7em 2em 30em;
  }
  .opiniones h4 {
    font-size: 33px;
    padding-top: 1.5em;
  }
  .opiniones .carousel {
    height: 400px;
  }
  .opiniones .carousel .carousel-inner {
    height: 350px;
  }
  .opiniones .cardIndex .card-img {
    width: 90px;
    height: 90px;
  }
  .opiniones .card-info {
    padding-top: 6em;
  }
  .opiniones .card-info .text-title {
    font-size: 1.5em;
  }
  .opiniones .card-info .text-body {
    font-size: 1.2em;
  }
  .mainAlmuerzo h1 {
    font-size: 90px;
  }
  .padreCard h2 {
    font-size: 38px;
  }
  .padreCard p {
    font-size: 30px;
  }
  .padreCard .card {
    height: 600px;
    margin-bottom: 4em;
  }
  .gridAlmuerzo {
    margin-bottom: 3em;
  }
  .mainCena h1 {
    font-size: 90px;
  }
  .principalCena {
    grid-template-rows: 200px 1fr 1fr;
    grid-template-areas: "titulo titulo" "imagen pizza" "completa completa";
  }
  .principalCena .textoCena {
    font-size: 46px;
    padding: 2em opx;
  }
  .principalCena img {
    margin: 0px 0px 0px 4em;
  }
  .principalCena .textoPizza {
    padding-right: 1em;
  }
  .principalCena .textoPizza h3 {
    font-size: 35px;
  }
  .principalCena .textoPizza h4 {
    font-size: 28px;
  }
  .principalCena .textoPizza ol {
    font-size: 24px;
  }
  .principalCena .recetaCompleta {
    grid-area: completa;
    display: block;
    width: 80%;
  }
  .principalCena .recetaCompleta p {
    color: white;
    font-size: 20px;
    text-align: justify;
  }
  .principalCena .recetaCompleta .dificultad {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .principalCena .recetaCompleta .dificultad p {
    text-transform: uppercase;
    letter-spacing: 0.0005rem;
    font-weight: 200;
    color: rgb(173, 173, 173);
    padding: 1em;
  }
  .mainPostre h1 {
    font-size: 90px;
  }
  .receta img {
    margin-top: 100px;
    width: 400px;
    height: 400px;
  }
  .receta h3 {
    font-size: 45px;
  }
  .receta h4 {
    font-size: 29px;
  }
  .receta ol {
    font-size: 22px;
  }
  .receta .dificultad {
    font-size: 19px;
  }
  .unoPostre {
    padding-right: 4em;
  }
  .dosPostre {
    padding-left: 4em;
  }
  .contenedorCarousel h3 {
    font-size: 30px;
  }
  .form-box {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
